/*
	CSS for the styling of Them Customizer.
*/
#customize-theme-controls #accordion-section-attirant_pro .accordion-section-title {
  background: #6fb624;
  color: white;
}
#customize-theme-controls #accordion-section-attirant_pro .accordion-section-title:before {
  position: relative;
  content: "\f0a3";
  font-family: "FontAwesome";
  top: 0;
  margin-right: 10px;
}
#customize-theme-controls #accordion-section-attirant_pro .accordion-section-title:after {
  color: white;
}
#customize-theme-controls li h2.fb-like-title,
#customize-theme-controls li h2.twitter-title,
#customize-theme-controls li h2.pro-title,
#customize-theme-controls li p.rev-title,
#customize-theme-controls li h2.dvt-title {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  color: #555;
  font-size: 15px;
}
#customize-theme-controls li a.attirant_rev {
  margin-top: 5px;
}
#customize-theme-controls li a.attirant_rev:before {
  content: "\f005";
  font-family: "FontAwesome";
  color: #eccb15;
  padding-right: 5px;
}
#customize-theme-controls li a.attirant_pro:before {
  content: "\f06c";
  font-family: "FontAwesome";
  padding-right: 5px;
}
#customize-theme-controls li a.attirant_dvt:before {
  content: "\f0e7";
  color: #216bd9;
  font-family: "FontAwesome";
  padding-right: 5px;
}
